html, body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: "Helvetica Neue", Verdana, sans-serif;
}

svg {
    width: 100%;
    height: 100%;
    cursor: grab;
}

button {
    --text-color: #000;
    --background-color: #f4f4f4;
    --active-color: #eee;
    font-size: 12pt;
    padding: 8px 16px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid #0002;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
button:hover, button:active {
    background: var(--active-color);
}
button:active {
    box-shadow: inset 0 0 10px #0004;
    transition: none;
}
button.primary {
    --text-color: #fff;
    --background-color: #77f;
    --active-color: #66e;
}
button.danger {
    --text-color: #fff;
    --background-color: #f44;
    --active-color: #e33;
}

input {
    box-sizing: border-box;
    box-shadow: 0 0 0 6px #aaf0;
    transition: all .2s ease-in-out;
}
input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #aafa;
}

body > nav {
    position: absolute;
    height: 100%;
    width: 300px;
    top: 0;
    background: #fff;
    box-shadow: 0 0 20px #0004;
}
body > nav .arrow {
    position: absolute;
    display: flex;
    top: 50%;
    margin-top: -25px;
    width: 40px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
body > nav .arrow::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url("./icons/chevron-left.svg");
    background-size: contain;
    opacity: .3;
    transition: opacity .15s ease-in-out, transform .25s ease-in-out;
}
body > nav:hover .arrow::before { opacity: .5; }

.left-panel {
    left: 0;
    margin-left: -300px;
    border-right: 1px solid #ccc;
    transition: margin-left .25s ease-in-out;
}
.left-panel .arrow {
    margin-left: 300px;
    border-radius: 0 25px 25px 0;
    border-left: none;
}
.left-panel .arrow::before {
    margin-left: -5px;
    transform: rotate(180deg);
}
.left-panel.expanded { margin-left: 0; }
.left-panel.expanded .arrow::before { transform: rotate(0); }

.right-panel {
    right: 0;
    margin-right: -300px;
    border-left: 1px solid #ccc;
    transition: margin-right .25s ease-in-out;
}
.right-panel .arrow {
    margin-left: -40px;
    border-radius: 25px 0 0 25px;
    border-right: none;
}
.right-panel .arrow::before {
    margin-right: -5px;
    transform: rotate(0deg);
}
.right-panel.expanded { margin-right: 0; }
.right-panel.expanded .arrow::before { transform: rotate(180deg); }
.right-panel .components-view {
    padding: 10px;
    overflow-y: auto;
    max-height: 100%;
}

body > nav section {
    max-height: 45px;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
    border-bottom: 1px solid #ccc;
}
body > nav section h1 {
    margin: 0;
    padding: 10px;
    height: 25px;
    background: #eee;
    user-select: none;
    cursor: pointer;
}
body > nav section div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
body > nav section div button { margin-bottom: 10px; }
body > nav section div button:last-child { margin-bottom: 0; }

.components {
    display: flex;
    flex-direction: column;
}

.component {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-radius: 10px;
}
.component > h1 {
    margin: 0 0 10px 0;
    padding: 0 0 2px 0;
    font-size: 12pt;
    border-bottom: 1px solid #ccc;
}
.component > .row { display: flex; }
.component button {
    padding: 5px 10px;
    font-size: 10pt;
    width: 100%;
}
.component button.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 20px;
    background: url("icons/delete.svg") no-repeat center;
    opacity: .5;
    background-size: 70%;
    transition: all .2s ease-in-out;
}
.component button.delete:hover, .component button.delete:focus {
    opacity: 1;
    background-color: #faa;
}
.component input {
    display: inline-block;
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.components .coordinates {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.components .coordinates div {
    display: flex;
    align-items: center;
}
.components .coordinates label {
    margin: 0 10px 0 0;
    font-size: 10pt;
    font-weight: bold;
}
.components .coordinates input {
    flex: 1;
    width: 100px;
}

.image-component .image-preview {
    width: 100%;
    padding-top: 100%;
    margin-bottom: 10px;
    background: url("icons/image.svg") no-repeat center #fff;
    background-size: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.edges-component ul {
    padding-left: 30px;
    list-style: none;
}

.edges-component li::before {
    content: "→";
    position: absolute;
    font-size: 14pt;
    font-weight: bold;
    margin: -2px 0 0 -25px;
}
.edges-component li.picking { opacity: .5; }
.twitter-component input { width: 100%;  }

.new-component { visibility: collapse; }
.new-component.shown { visibility: visible; }
.new-component > h1 {
    text-align: center;
    opacity: .5;
    border: none;
}
.new-component select {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    appearance: none;
    text-align: center;
    background: #66f;
    color: #fff;
    border: none;
}

.dragged { cursor: grabbing; }

.node { cursor: pointer; }
.node.selected {
    filter: drop-shadow(0 0 10px #aaf);
    stroke: #77f;
}

button[disabled] {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
}

.export-button {
    /*width: 100%;*/
}
